AutoFL/combined_fl_results/* filter=lfs diff=lfs merge=lfs -text
AutoFL/data/bugsinpy/* filter=lfs diff=lfs merge=lfs -text
AutoFL/data/defects4j/* filter=lfs diff=lfs merge=lfs -text
AutoFL/results/* filter=lfs diff=lfs merge=lfs -text
